
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
body{
    font-family: 'Dosis', sans-serif;
}
.blue-block{
    display: flex;
    flex-direction: column;
    background-color: #036994;
    color: white;
    padding-bottom: 6rem;
    box-shadow: 0rem 0.3125rem 0.625rem 0rem #888888;
    background-image: url('../assets/Mask\ group.png');
    background-repeat: no-repeat;
    background-position: right;   
}
.part-one{
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(252, 252, 252, 0.2);
    align-items: baseline;    
}

.part-two{
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem;
}
.part-two-one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}
.part-one button{
    background-color: #ffffff00; /* Green */
    border: solid 2px;
    color: rgb(255, 255, 255);  
    padding: 0.93rem 2.8125rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.93rem;
    border-color:rgba(255, 255, 255, 0.5);
    cursor:pointer;
}

.part-two h1  {
    text-align: start;
}
.pic-parent{
    margin-left: 20rem;
    height:20rem;
    width:60rem ;
    position: relative;
    background-image: url('../assets/shutterstock_1692360436 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pic-child{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    transition: all 150ms ease-in-out;
}
.pic-child:hover{
    transform: scale(1.1);
}
.how-work-one{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem 0rem;
  

}

.how-work-one h1{
    color: #036994;
    margin-right: 8rem;
}
.how-work-one h3{
    color: #515151;
}
.how-work-two{
    display: flex;
    margin: 2rem 5rem;
    align-items: baseline;
}
.how-card{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0.625rem 2.5rem;
}
.how-card h2{
    color: #10537D;
    font-size: 1rem;
    text-align: center;
}
.how-card h3{
    color: gray;
    font-size: 0.8125rem;
    text-align: center;
    transition: all 150ms ease-in-out;
}
.how-card h3:hover{
    color: rgb(0, 0, 0);
}
.how-work{
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.logos{
    max-width: 62.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem;
    padding: 3.125rem;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
   
}
.phone-size-logos{
    display: none;
}
.upcoming{
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    background-image: url('../assets/Vector.svg') ;
    background-size: 60rem;
    background-repeat: no-repeat;
    background-position: 80% 10%;
  
}
.upcoming-one{
    display: flex;
    margin: 2rem 5rem;
    justify-content: space-between;
    align-items: center;

}
.upcoming-one img{
    max-width: 31.25rem;
    margin-right: 12.5rem;
}
.the-magic-formula-container h1{
    color: #10537D;
}
.the-magic-formula-container h3{
    color: #10537D;
}
.upcoming-hangouts h1 {
    color: #10537D;
} 
.upcoming-hangouts {
    margin: 2rem 5rem;
}
.the-magic-formula{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.the-magic-formula img{
    margin-right: 0.9rem;
    
}
.second-blue-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #036994;
    background-image: url("../assets/humans.png") ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65.625rem;
    padding: 4.5rem;
}

.second-blue-block-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.second-blue-block-two{
    max-width: 40.625rem;
    display: flex;
    flex-wrap: wrap;
  
    
}
.second-blue-block h1{
    padding-top: 1.25rem;
    font-size: 2.1875rem;
    color: white;
}
.second-blue-block-two h3{
    border: solid  1px;
    margin: 0.625rem;
    padding: 0.8rem 1.3rem;
    color: #5BDEA2;
    border-color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    font-size: 0.75rem;
}
.last-block{
    background-color: #F3F3F3;
    display: flex;
}
.last-block img{
    max-width: 18.75rem;
}
.get-started{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 5rem;
}
.get-started h1{
    text-align: center;
    color:#036994;
}

.slide-container{
    margin: 5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.slide-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.slide-left h1{
    text-align: center;
    color:#036994;
}


@media only screen and (max-width: 720px) {

    .blue-block{
        background-image: url('../assets/VectorBlue.svg');
        background-position: left bottom;
        background-size: 35rem;
    
    }
    .part-one button{
        font-size: 1rem;
        padding: 0.6rem;
    }
    .part-one{
        align-items: center;
        justify-content: space-between;
        margin: 3rem;
    }
    .part-two{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .pic-parent{
        margin-left: 0rem;
        height:20rem;
        width:30rem ;
        position: relative;
        background-image: url('../assets/shutterstock_1692360436 1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    .part-two-one{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
   .part-two-one h1{
       text-align: center;
   }
   .part-two-one button{
    font-size: 1.25rem;
}
.how-work-one{
    display: flex;
     flex-direction: column;
}
.how-work-two{
    display: flex;
    flex-direction: column;
}
.logos{
    display: none;
}
.phone-size-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-size-images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid rgba(0, 0, 0, 0.2) 2px;
    margin-bottom: 2rem;
}
.phone-size-images img{
    margin: 2rem 2rem; 
}
.phone-size-logos h1{
    color: #10537D;
}
.upcoming-one{
    flex-direction: column;
    align-items: center;
}
.upcoming-one img{
    max-width: 25rem;
    margin: 0px;
    padding: 0px;
}
.slide-left button{
    margin: 3rem;
 
}
.second-blue-block{
        align-items: center;
        background-position: -3rem 7rem;
        background-size: 114rem;
    
}
.second-blue-block button{
    margin-top: 3rem;
    margin-bottom: 6rem;

}
.second-blue-block-container{
    flex-direction: column;
}
.second-blue-block-two{
    margin: 2rem;
}
.slide-container{
    flex-direction: column;
}
.last-block{
    flex-direction: column;
}
.phone-size{
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 20rem;
    background-image: url('../assets/last-block/iphone2.png');
    background-repeat: no-repeat;
    background-position: top;
}
.phone-size Button{
    font-size: 2rem;
    white-space: nowrap;
}
  }